!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => "viewport", :content => "width=device-width, maximum-scale=1, user-scalable=no" }
    %meta{ :name => "apple-mobile-web-app-capable", :content => "yes" }
    %meta{ :name => "apple-mobile-web-app-status-bar-style", :content => "black-translucent" }
    %script{ :type => "text/javascript", :src => "coffee-script.js" }
    %script{ :type => "text/coffeescript", :src => "../../enchant.ja.coffee" }
    %script{ :type => "text/coffeescript", :src => "game.coffee" }
    %style{ :type => "text/css" } body { margin: 0; }
    %title enchant
  %body
